<a href="https://colab.research.google.com/github/martamsimoes10/MPA/blob/main/Python_no_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MADSAD@CBS|ISCAC-IPC**

**Métodos de Previsão Aplicados**

**jleite@iscac.pt**

In [ ]:
#
10**2+36
1e2+36

In [ ]:
10**2+36

In [ ]:
1e2+36

In [ ]:
print(10**2+36)
print(1e2+36)

In [ ]:
a = 30

In [ ]:
n <- 30

In [ ]:
print(list(range(1,100)))

In [ ]:
import pandas as pd
df = pd.DataFrame({'col1': [1,2,3], 'col2': ['a','b','c']})

In [ ]:
df

In [ ]:
print(df)

In [ ]:
from sklearn.datasets import load_iris
import pandas as pd

data = load_iris()
df = pd.DataFrame(data=data.data, columns=data.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [ ]:
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [ ]:
#toda a coluna
df.loc[:,'sepal length (cm)']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length (cm), Length: 150, dtype: float64

In [ ]:
#indice
df.iloc[:,0]

In [ ]:
#primeira coluna
df.iloc[:,0:1]

In [ ]:
#2 primeiras colunas
df.iloc[:,0:2]

In [ ]:
#extrair a primeira e a terceira linhas
df.iloc[:,[0,2]]